@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}



.title{
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
    padding: 30px 0 30px;

}


.card-title{
    text-align: center;
}

.intro-text{
    padding: 50px 0 50px;
    text-align: center;
   
}
.intro-text h2{
    padding-bottom: 10px;
  
}

footer .row{
    width: 100%;
}

footer{
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
}


#contact-col {
  min-width: 300px;
  overflow-x: hidden;
 
}
footer .nav{
    text-decoration: none;  
 
}

footer .nav-item a{
    color: black;
}

footer ul{
    list-style-type: none;
}

#zalo{
    position: fixed;
    bottom: 100px;
    right: 1rem;
}